.scale-102 {
  transform: scale(1.02);
}
.img {
  &:hover {
    @extend .scale-102;
    transition: all 0.5s ease;
  }
}
.bg-img1 {
  background-image: url("../../assets/images/pexels-los-muertos-crew-12332434.jpg");
  background-size: 100% 100%;
  min-height: 600px;
}

.b2 {
  border-bottom: 2px solid var(--grey2);
}
